.stButton > button{
    background-color: rgb(120, 132, 138);
    color: rgb(33, 12, 214);
    height: 200px;
    font-size: 120%;
    
 }
.stButton > link{
    background-color: rgb(120, 132, 138);
    color: rgb(33, 12, 214);
    height: 200px;
    font-size: 120%;
}
.stLinkButton > button{
    background-color: rgb(11, 194, 154);
    color: rgb(33, 12, 214);
    height: 200px;
    font-size: 120%;
}