.stButton > button{
   background-color: rgb(0, 174, 255);
   color: rgb(45, 49, 33);
}
.custom-button {
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   cursor: pointer;
   width: 100%;
}