.stButton > button{
    background-color: rgb(196, 202, 206);
    color: rgb(33, 12, 214);
    height: 200px;
    font-size: 120%;
    
 }
.stLinkButton > a{
    background-color: rgb(120, 128, 138);
    color: rgb(13, 13, 179);
    height: 200px;
    font-size: 120%
}